:root {
    --color1: #FAD563;  
    --color2: #132B45;  
    --color3: coral;  
  }
.headerContent {
    overflow: auto;
}
.headerName {
    color: var(--color1);
    margin-bottom: 0;
}

.headerText {
    color: white;
}

.headerIcon{
    color: var(--color1) !important;
}

.popoverHeader{
    color: var(--color2);
}